<div id="<%= dom_id dog %>">
  <p>
    <strong>Rails:</strong>
    <%= dog.rails %>
  </p>

  <p>
    <strong>Generate:</strong>
    <%= dog.generate %>
  </p>

  <p>
    <strong>Scaffold:</strong>
    <%= dog.scaffold %>
  </p>

  <p>
    <strong>Dog:</strong>
    <%= dog.Dog %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= dog.name %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= dog.breed %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= dog.age %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dog.description %>
  </p>

</div>
