<p style="color: green"><%= notice %></p>

<h1>Dogs</h1>

<div id="dogs">
  <% @dogs.each do |dog| %>
    <%= render dog %>
    <p>
      <%= link_to "Show this dog", dog, :class => "btn btn-secondary btn-sm"  %>
    </p>
  <% end %>
</div>

<%= link_to "New dog", new_dog_path, :class => "btn btn-primary btn-sm" %> <%= link_to 'Home', home_index_path, :class => "btn btn-primary btn-sm" %>
