<nav class="navbar navbar-dark bg-primary navbar-static-top navbar-expand-md">
    <div class="container">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
        </button> <a><%= image_tag 'logo.png' %></a> <%= link_to "HelpLomitos", root_path, class: 'navbar-brand' %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
                <li class='nav-item'><%= link_to 'Home', home_index_path, class: 'nav-link' %></li>
                <li class='nav-item'><%= link_to 'Dogs', dogs_path, class: 'nav-link' %></li>  
                <li class='nav-item'><%= link_to 'Dashboard', dashboard_path, class: 'nav-link' %></li>
            </ul>
        </div>
    </div>
</nav>