<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "HelpLomitos" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "HelpLomitos" %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <% if notice %>
        <p class="notice alert alert-success"><%= notice %></p> 
      <% end %>
      <% if alert %>
        <p class="alert alert-warning"><%= alert %></p>
      <% end %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>
